<h1>Customer::Orders#new</h1>

<h2>注文情報入力</h2>
<h4>支払方法</h4>

<%= form_with model: Order,url: customer_order_path do |f| %>
<h4>新しいお届け先</h4>
 <%= f.radio_button :ご自身の住所 %>
 <%= order.adress %>



 <% end %>
